body {
    background-image: url("/images/bg.jpg");
    background-color: black;
    color: white;
    font-family: Arial;
    padding-left: 5%;
    padding-right: 5%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(234, 234, 234);
    text-decoration: underline;
}

#header-links {
    background-color: black;
    padding: 10px;
}

h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}

#maintitle {
    font-size: 10em;
    margin-bottom: 30px;
}

#intro {
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 2%;
    margin-top: -30px;
}

#load {
    font-size: 1em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#quote {
    font-family: Arial;
    font-size: 1em;
    text-align: center;
    font-style: italic;
}

#explanation {
    font-family: Arial;
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#search {
    font-family: Arial;
    font-size: 1em;
    text-align: center;
    padding-bottom: 2%;
}

#enhanced {
    text-align: center;
    font-size: 1.1em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.description-head {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 2%;
}

.description-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

.description {
  text-align: center;
  padding-bottom: 2%;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 :valid {
  background:hsl(120, 50%, 90%);
  box-shadow: 0 0 5px 1px green;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#searchbutton {
    text-align: center;
}

#recommendbutton {
    font-size: 2em;
}
