body {
    background-image: url("/images/bg.jpg");
    background-color: black;
    color: white;
    font-family: Arial;
    padding-left: 5%;
    padding-right: 5%;
}

a:link {
    color: white;
    text-decoration: none;
}

#header-links {
    background-color: black;
    padding: 10px;
}

h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}

#maintitle {
    font-size: 10em;
    margin-bottom: 30px;
}

#intro {
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 2%;
    margin-top: -30px;
}

#load {
    font-size: 1em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#quote {
    font-family: Arial;
    font-size: 1em;
    text-align: center;
    font-style: italic;
}

#search {
    font-family: Arial;
    font-size: 1em;
    text-align: center;
    padding-bottom: 2%;
}

#enhanced {
    text-align: center;
    font-size: 1.1em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.description-head {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 2%;
}

.description-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

.description {
  text-align: center;
  padding-bottom: 2%;
}

#searchbutton {
    text-align: center;
}
